{% extends "voting/base.html" %}
{% block content %}
{% load static %}
<style>
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url({% static 'images/bg.png' %});

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
</style>
<div class="bg-image">
    <div class="bg-text">
        <div class="login-logo">
            <b>Virinchi Voting System</b>
        </div>

        <div class="bg-text-body">
            <p class="login-box-msg">Enter your V-code to start your session</p>

            <form action="{% url 'account_login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="email" placeholder="Email" required>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" name="password" placeholder="Voting Code" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="pull-center col-xs-4">
                       <center><button type="submit" class="btn btn-primary btn-block btn-flat" name="login"><i
                               class="fa fa-sign-in"></i> Submit</button></center>
                    </div>
<!--                    <div class="pull-right col-xs-4">-->
<!--                        <a  class="btn btn-primary btn-block btn-flat" href="{% url 'account_register' %}"><i class="fa fa-upload"></i> Register</a>-->
<!--                    </div>-->
                </div>
            </form>
        </div>
            </div>
</div>
 
{% endblock content %} 